{%  extends 'accounts/main.html' %}

{% block content %}

		<br>

		<div class="row" style="padding-top: 10px;margin-top: 0px;padding-left: 10px;margin-right: 10px;">
			<div class="col-md">
				<div class="card card-body">
					<h5>Products</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<td></td> <!--product-->
							<td></td><!--category-->
							<td></td><!---->
							<td></td>
							<td></td>
							<td><a class="btn btn-info  btn-sm btn-block" href="{% url 'create_car' %}">Add car</a></td>
						</tr>
						<tr>
							<th>Make</th>
							<th>Model</th>
							<th>Year</th>
							<th>VIN</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>

						{% for car in cars %}
							<tr>
								<td>{{car.Make}}</td> <!--product-->
								<td>{{car.Model}}</td><!--category-->
								<td>{{car.Year}}</td><!---->
								<td>{{car.VIN}}</td>
								<td><a class="btn btn-primary btn-sm btn-block" href="{% url 'update_car' car.id %}">edit</a></td><!---->
								<td><a class="btn btn-danger  btn-sm btn-block" href="{% url 'delete_car' car.id %}">delete</a></td>
							</tr>
						{% endfor %} 
						
					</table>
				</div>
			</div>
			
		</div>

{% endblock content %}